@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

:root {
    --azul-Neon: #51fff9;
    --rosa-Neon: #ff7af1;
    --branco: white;
}

#bannerCardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35vh;
    background-image: url(../img/comida.jpg);
    background-size: cover;
    background-position: center;
}

#conteudoBannerCardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#conteudoBannerCardapio > h2 { 
    text-align: center; 
    color: white;
    font-family: 'Black Ops One';
}

#cardapio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#listCardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    height: 35px;
    position: sticky;
    top: 0;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    background-color: white;
    
}

#listCardapio > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    height: 100%;
}

.barraSeparaList {
    width: 1px;
    height: 100%;
    background-color: var(--rosa-Neon);
}

#listCardapio > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#listCardapio > ul > li {color: black;}

#containerCardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
}

.menuCardapio {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 900px;
    gap: 20px;
    height: 100%;
}

.cardCardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
}

.imgCardCardapio { width: 100%;}

.infosCardCardapio {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px 0;
}

.bntComprar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    cursor: pointer;
}

.bntComprar > p {color: black;}