@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Black Ops One';
    text-decoration: none;
    overflow-x: hidden;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --azul-Neon: #51fff9;
    --rosa-Neon: #ff7af1;
    --branco: white;
    --fundo: rgb(9, 9, 17);
}

main {
    display: flex;
    flex-direction: column;
    background-color: var(--fundo);
    gap: 25px;
}

#bannerCardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 35vh;
    background-image: url(../img/comida.jpg);
    background-size: cover;
    background-position: center;
}

#conteudoBannerCardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

#conteudoBannerCardapio > h2 { 
    text-align: center; 
    color: white;
    font-family: 'Black Ops One';
}

#conteudoBannerCardapio > p {text-align: center;}

#cardapio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#listCardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99%;
    max-width: 900px;
    height: 35px;
    position: sticky;
    top: 0;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    border-radius: 10px;
    background-color: white;
    pad: 0 10px;
    
}

#listCardapio > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#listCardapio > ul > li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: black; 
    font-size: 12.5px;
}
#listCardapio > ul > li:nth-child(1){border-right: 1px solid var(--rosa-Neon);}
#listCardapio > ul > li:nth-child(2){border-right: 1px solid var(--rosa-Neon);}
#listCardapio > ul > li:nth-child(3){border-right: 1px solid var(--rosa-Neon);}

#containerCardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 900px;
    padding: 10px 0;
}

#menuCardapio {
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    gap: 25px;
}

.cardCardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 253px;
    gap: 20px;
    padding: 10px 0;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    border-radius: 10px;
}

.img-div {
    width: 70%;
    height: 50%;
}

.img-div > img {width: 100%; height: 100%;}

.infosCardCardapio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
}

.infosCardCardapio > span {
    color: white;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
    padding: 3px 8px;
}

.bntComprar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    padding: 3px 8px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
    background-color: var(--fundo);
    color: var(--branco);
    cursor: pointer;
}

/* carrinho */

#comprar {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}

#container-comprar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 900px;
    gap: 25px;
    padding: 10px;
    border: 1px solid var(--rosa-Neon);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--rosa-Neon);
    background: 
    linear-gradient(rgba(42, 64, 73, 0.795), rgba(42, 64, 73, 0.795)),
    url(../img/backgroundCarrinho.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

/* carrinho */

#carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    padding: 25px 0 10px 0;
}


#titulo-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;

}
#conteudo-titulo-carrinho > h4 {color: white; margin: 0;}

#item-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
}

#conteudo-item-carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-item-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
}

.img-item-carrinho {
    display: flex;
    width: 120px;
    height: 120px;
    border-radius: 10px;
    overflow: hidden;
}

.img-item-carrinho > img {width: 100%;}

.infos-item-carrinho {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 8px;
    text-align: center;
}

.nome-item-carrinho, .bnt-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.div-preco-mesa > span {
    font-size: 15px;
}

.bnt-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    width: 100%;
}

.bnt-pri {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
}

.bnt-pri > input {
    width: 40px;
    height: 25px;
}

.bnt-item-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.numero-hors-item-carrinho > p {color: black;}

.bnt-seg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
}

.bnt-excluir {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* finalizar compra */

#finalizar-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 10px;

}

#preco-compra {
    display: flex;
    width: 100%;
} 

#conteudo-preco-compra {
    display: flex;
    width: 100%;
}

.div-conteudo-preco-compra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    text-align: center;

}

.div-conteudo-preco-compra > span, P {color: white;}

#conteudo-finalizar-compra {
    display: flex;
    width: 100%;
    height: 30px;
}

#conteudo-finalizar-compra > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    text-align: center;
    width: 100%;
    cursor: pointer;
}

#conteudo-finalizar-compra > div > span {color: white;}
#comprar > a {color: white; text-decoration: none;}


/* endereço */
#localizacao {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#localizacao.ativo {display: flex;}

#container-localizacao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 900px;
    padding: 10px;
    gap: 25px;
    border: 1px solid var(--rosa-Neon);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--rosa-Neon);
    background: 
    linear-gradient(rgba(42, 64, 73, 0.795), rgba(42, 64, 73, 0.795)),
    url(../img/backgroundCarrinho.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container-localizacao > form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.linha {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100%;
    gap: 5px;
}
.linha > label {color: white;}
.linha > input {
    width: 100%;
    height: 20px;
    border: 1px solid var(--azul-Neon);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--azul-Neon);
}

#cep {width: 50%;}
#numeroCasa {width: 50%;}
#telefone {width: 80%;}

#bntContinuarCompra {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--azul-Neon);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--azul-Neon);
    width: 200px;
    height: 25px;
    cursor: pointer;
}

#bntContinuarCompra > a {color: white;}

/* pagamento*/

#pagamento{
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#pagamento.ativar {display: flex;}

#container-pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 900px;
    padding: 10px;
    gap: 25px;
    border: 1px solid var(--rosa-Neon);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--rosa-Neon);
    background: 
    linear-gradient(rgba(42, 64, 73, 0.795), rgba(42, 64, 73, 0.795)),
    url(../img/backgroundCarrinho.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

#titulo-pagamento {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
    margin-top: 25px;

}

#titulo-pagamento > h4 {color: white; margin: 0; text-align: center;}

#forma-pagamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 90%;
    padding: 10px;
}

/* pix */

#pix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    gap: 25px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
}

.titulo-pagamento-pix-cartao {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 10px;
}

.titulo-pagamento-pix-cartao h4, i {color: white; margin: 0;}

#conteudo-pix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 25px;
}

#img-qrcod {
    display: flex;
    width: 90%;
    max-width: 300PX;
    height: 35vh;
}

#img-qrcod  > img {width: 100%;}

#codigo-copia-cola {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 30px;
    max-width: 200px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
    cursor: pointer;
}

/* cartão */

#cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    gap: 25px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
}

#conteudo-cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
    gap: 25px;
}

#conteudo-cartao > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 400PX;
    gap: 20px;
}

.informacoes-cartao {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 5px;
}

.informacoes-cartao > label {
    text-align: center;
}

.informacoes-cartao > input {
    width: 100%;
    height: 20px;
    border: 1px solid var(--razul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
}

#cvv {width: 50px;}
#validade {width: 70px;}


#botao-pagar-cartao {
    width: 150px;
    height: 25px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
    cursor: pointer;
}