@media only screen and (min-width: 650px) {
    #conteudoIcones {
        flex-direction: row;
        height: 350px;
         
    }

    #containerInfos {gap: 20px;}
    

    .conteudoInfos {gap: 100px;}
    .conteudo-principal {gap: 100px;}

    .imgInfos {display: flex; width: 100%; max-width: 350px;}
    .imgInfos > img {width: 100%;}

    #cards-tipos-pcs {
        flex-direction: row;
    }


    #aluguel {
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
    }

    #containerAluguel {
        display: flex;
        flex-direction: row;
        align-items: top;
        justify-content: center;
        gap: 50px;
        width: 100%;
        height: 100%;
        margin-top: 20%;
    }

    #mesas {
        width: 280px;
    }
}

@media only screen and (min-width: 950px) {
    #bannerPrincipal {
        background-position: center;
    }
}