
@media only screen and (min-width: 650px) {
    #conteudoIcones {
        flex-direction: row;
        height: 350px;
         
    }

    #containerInfos {gap: 20px;}
    
    .conteudoInfos {gap: 50px; padding: 20px;}
    .conteudo-principal {gap: 100px;}

    .imgInfos {display: flex;}

    #cards-tipos-pcs {
        flex-direction: row;
    }

    .informacoes-cartao:nth-child(4), .informacoes-cartao:nth-child(3){flex-direction: row; gap: 20px;}

}

@media only screen and (min-width: 690px) {
    #container-aluguel {
        flex-direction: row;
        align-items: start;
        padding: 0px;
        gap: 0;
    }

    #selecionar-mesa {
        height: 80vh;
        padding: 15px;
    }

}

@media only screen and (min-width: 700px) {
    #navbarNav {
        display: flex; 
        width: 70%;
        height: 50%;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.644);
        border: 1px solid var(--azul-Neon);
        box-shadow: 0 0 10px var(--azul-Neon);
        position: static;
        top: 0;
        left: 0;
    }
    #navbarNav > ul {flex-direction: row;}

    #navbarNav > ul > li > a:hover {color: var(--azul-Neon);}

    #menu-burguer {
        display: none;
    }
}

@media only screen and (min-width: 950px) {
    #bannerPrincipal {
        background-position: center;
    }
}