@media only screen and (min-width: 650px) {
    #conteudoIcones {
        flex-direction: row;
        height: 350px;
         
    }

    #containerInfos {gap: 20px;}
    
    .conteudoInfos {gap: 100px;}
    .conteudo-principal {gap: 100px;}

    .imgInfos {display: flex; width: 100%; max-width: 350px;}
    .imgInfos > img {width: 100%;}

    #cards-tipos-pcs {
        flex-direction: row;
    }

   
}

@media only screen and (min-width: 690px) {
    #container-aluguel {
        flex-direction: row;
        align-items: start;
        border: 1px solid white;
        gap: 20px;
        padding: 0px;
    }

}

@media only screen and (min-width: 950px) {
    #bannerPrincipal {
        background-position: center;
    }
}