@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');


* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Black Ops One';
    text-decoration: none;

}

p {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --azul-Neon: #51fff9;
    --rosa-Neon: #ff7af1;
    --branco: white;
}
/*header*/
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #343A40;
    position: fixed;
    top: 0;
    z-index: 1;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    max-width: 1500px;
    padding: 5px;
    position: relative;
}

#navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}
#navbar-img { width: 70px; height: 100%;}
#navbar-img > img {width: 100%; height: 100%;}
#navbar-container > p {color: var(--azul-Neon);}

#navbarNav {
    display: none; 
    width: 90%;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    position: absolute;
    top: 90px;  
    left: 5%;
}
#navbarNav.mostrar {display: flex;}

#navbarNav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#navbarNav > ul > li  {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
#navbarNav > ul > li:nth-child(1){
    border-bottom: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon); 
}
#navbarNav > ul > li:nth-child(2){
    border-bottom: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon); 
}

#navbarNav > ul > li:nth-child(3){
    border-bottom: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon); 
}

#navbarNav > ul > li > a {color: white;}
#navbarNav > ul > li > a:hover {color: var(--azul-Neon);}



#navbarNav.mostrar {display: block;}

#menu-burguer {
    display: block;
    align-items: center;
    justify-content: center;
}

.barra-menu-burguer {
    display: block;
    width: 25px;
    height: 1px;
    margin: 5px;
    background-color: var(--azul-Neon);
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
    cursor: pointer;
}

/* main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#bannerPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-height: 800px;
    background-image: url(../img/lan\ house.jpg);
    background-size: cover;
}

#conteudoBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 70%;
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 10px;
    padding: 10px;
    margin-top: 40px;
}

#textBanner { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
    gap: 25px;
}

#textBanner > h2 {color: var(--azul-Neon); text-align: center;}
#textBanner > p {color: white; text-align: center;}

/* section 1*/

#containerIcones {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
}

#conteudoIcones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    height: 100%; 
    padding: 10px;
    gap: 2px;
}

.icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 284px;
    gap: 20px;
}

.icones > p {text-align: center;}

.caixaImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    background-color: rgba(96, 192, 247, 0.74);
}

.caixaImg > i {font-size: 50px;}
.caixaImg > img {width: 80%;}

/* section 2 */

#containerInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
}

.conteudoInfos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    height: 100%;
    max-height: 650px;
    background-color: rgba(0, 0, 0, 0.651);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--azul-Neon);
}

.conteudoInfos:nth-child(3) {
    flex-direction: column;
    max-height: 2000px;
    gap: 50px;
}

.conteudo-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 650px;
    padding: 10px;
}

.textInfosP {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    height:100%;
    padding: 25px 10px;
    gap: 25px;
}

.textInfosP > h2, p {color: white; margin: 0; padding: 0; text-align: center;}
.textInfosP > h2 {color: var(--azul-Neon);}

.imgInfos { 
    display: none; 
    width: 100%; 
    max-width: 450px; 
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    border-radius: 10px;
    overflow: hidden;

}

.imgInfos:nth-child(2) {max-width: 350px;}
.imgInfos > img {width: 100%;}
    

#bntInfos {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 40px;
    margin-top: 25px;
}

#bntInfos > button {
    width: 200px; 
    height: 100%;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
    cursor: pointer;
}

#bntInfos > button > a {color: black;}

#cards-tipos-pcs {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
#cards-tipos-pcs.ativo {display: flex;}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: 400px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    
}
.card:nth-child(1){
    background-image: url(../img/mesaDeGrupoP.jpg);
    background-size:cover ;
}
.card:nth-child(2){
    background-image: url(../img/pcP.jpg);
    background-size:cover ;
}

.card:nth-child(3){
    background-image: url(../img/cabineNeuroDanceP.jpg);
    background-size:cover ;
}
.conteudo-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.titulo-card-pcs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.658);
    border-radius: 10px;
}
.titulo-card-pcs > h3 {color: var(--rosa-Neon); padding: 10px; font-size: 25px;}


.text-card-pcs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
    gap: 50px;
    padding: 30px 10px;
    position: absolute;
    top: 20%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 10px;
}
.text-card-pcs > p {color: white; text-align: center; width: 80%;}

.bnt-escolha-mesa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
}

.bnt-escolha-mesa > p {color: white;}

/* carrinho */

#aluguel {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#container-aluguel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    gap: 25px;
    border: 1px solid var(--azul-Neon);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--azul-Neon);
    background: 
    linear-gradient(rgba(42, 64, 73, 0.795), rgba(42, 64, 73, 0.795)),
    url(../img/backgroundCarrinho.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#selecionar-mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-height: 690px;
    border-radius: 10px;
    gap: 10px;
    padding: 15px 0;
}

#titulo-e-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 25px;
    padding: 10px;
}

.titulo-pagamento {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    border-radius: 10px;
}

.titulo-pagamento > h4 {
    color: white; 
    text-align: center;
    margin: 0;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titulo > h4 {color: white; text-align: center;}

#conteudo-selecionar-mesa {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 10px;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    border-radius: 10px;
}

.mesas-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.mesas {
    display: flex; 
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--branco);
    cursor: pointer;
}

.mesas > i {color: white;}

.mesas:nth-child(2){
    background-color: red; 
    cursor: not-allowed; 
    box-shadow: 0 0 10px rgb(255, 38, 38);
    border: 1px solid rgb(255, 38, 38);
}
.mesas:nth-child(4){
    background-color: red; 
    cursor: not-allowed; 
    box-shadow: 0 0 10px rgb(255, 38, 38); 
    border: 1px solid rgb(255, 38, 38);
}
.mesas:hover:not(:nth-child(2)):not(:nth-child(4)) {background-color: green; box-shadow: 0 0 10px rgb(100, 255, 100); border: 1px solid rgb(100, 255, 100);} 

/* carrinho */

#carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

#titulo-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    border-radius: 10px;

}
#conteudo-titulo-carrinho > h4 {color: white; margin: 0;}

#item-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
}

#conteudo-item-carrinho {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.card-item-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    border-radius: 10px;
}

.img-item-carrinho {
    display: flex;
    width: 140px;
    height: 120px;
    border-radius: 10px;
}

.img-item-carrinho > img {width: 100%;}

.infos-item-carrinho {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    padding: 8px;
    text-align: center;
}

.nome-item-carrinho, .bnt-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.div-preco-mesa > span {
    font-size: 15px;
}

.bnt-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    width: 100%;
}

.bnt-pri {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.bnt-pri > input {
    width: 40px;
    height: 25px;
}

.bnt-item-carrinho {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.numero-hors-item-carrinho > p {color: black;}

.bnt-seg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

.bnt-excluir {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* finalizar compra */

#finalizar-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
}

#preco-compra {
    display: flex;
    width: 100%;
} 

#conteudo-preco-compra {
    display: flex;
    width: 100%;
}

.div-conteudo-preco-compra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    text-align: center;

}

.div-conteudo-preco-compra > span {color: white;}

#conteudo-finalizar-compra {
    display: flex;
    width: 100%;
    cursor: pointer;
}

#conteudo-finalizar-compra > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    text-align: center;
    width: 100%;
}

#conteudo-finalizar-compra > div > span {color: white;}
#comprar > a {color: white; text-decoration: none;}

/* pagamento */

#pagamento {
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#pagamento.ativo {display: flex;}

#container-pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    gap: 25px;
    padding: 10px;
    border: 1px solid var(--azul-Neon);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--azul-Neon);
    background: 
    linear-gradient(rgba(42, 64, 73, 0.795), rgba(42, 64, 73, 0.795)),
    url(../img/backgroundCarrinho.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#forma-pagamento {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    max-width: 800px;
}

/* pix */

#pix {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 8px;
    gap: 10px;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    border-radius: 10px;
}

.titulo-pagamento-cartao {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.titulo-pagamento-cartao > h4 {
    color: white; 
    text-align: center;
    margin: 0;
}

#conteudo-pix {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0px;
    gap: 50px;
}

#img-qrcod {
    display: flex;
    width: 240px;
    height: 250px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
    overflow: hidden;
}

#img-qrcod > img {
    width: 100%;
}


#codigo-copia-cola {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 30px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
    cursor: pointer;
}

#codigo-copia-cola > span {color: white;}

/* cartao */ 

#cartao {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 8px;
    gap: 10px;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    border-radius: 10px;
}

#conteudo-cartao {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px 0px;
    gap: 20px;
}

#conteudo-cartao.ativo {display: flex;}

#conteudo-cartao > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: 1px solid var(--azul-Neon);
    box-shadow: 0 0 10px var(--azul-Neon);
    border-radius: 10px;
    gap: 20px;
}

.informacoes-cartao {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    width: 100%;
}

label {color: white;}

input {
    display: flex;
    border: none;
    border-radius: 8px;
    width: 100%;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
}
#validade {width: 60px;}
#cvv {width: 60px;}

#bnt-pagar-cartão {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

#bnt-pagar-cartão > button { 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 10px;
    border: 1px solid var(--rosa-Neon);
    box-shadow: 0 0 10px var(--rosa-Neon);
    cursor: pointer;
}