@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
}


/* main */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#bannerPrincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    max-height: 800px;
    background-image: url(../img/lan\ house.jpg);
    background-size: cover;
    
}

#conteudoBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    
    height: 70%;
    
}

#textBanner { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

#textBanner > h2 {color: white; text-align: center;}
#textBanner > p {color: white; text-align: center;}

/* section 1*/

#containerIcones {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    width: 100%;
}

#conteudoIcones {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    height: 100%; 
    padding: 10px;
    gap: 25px;
}

.icones {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
}

.icones > p {text-align: center;}

.caixaImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid;
    background-color: rgba(0, 162, 255, 0.527);
}

.caixaImg > i {font-size: 50px;}

/* section 2 */

#containerInfos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.conteudoInfos {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 650px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.651);
}

.conteudoInfos:nth-child(3) {
    flex-direction: column;
    max-height: 1650px;
    gap: 50px;
}

.conteudo-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    max-height: 650px;
    padding: 10px;
}

.textInfosP {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 350px;
    height: 350px;
    padding: 10px;
    gap: 25px
}

.textInfosP > h2, p {color: white; margin: 0; padding: 0;}
.imgInfos{display: none;}

#bntInfos {
    display: flex;
    justify-content: left;
    width: 100%;
    height: 40px;
}

#bntInfos > button {width: 200px; height: 100%;}

#cards-tipos-pcs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
    height: 400px;
    padding: 10px;
}
.card:nth-child(1){
    background-image: url(../img/mesaDeGrupoP.jpg);
    background-size:cover ;
}
.card:nth-child(2){
    background-image: url(../img/pcP.jpg);
    background-size:cover ;
}

.card:nth-child(3){
    background-image: url(../img/cabineNeuroDanceP.jpg);
    background-size:cover ;
}
.conteudo-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.titulo-card-pcs {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.562);
}
.titulo-card-pcs > h3 {color: white;}


.text-card-pcs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 70%;
    gap: 50px;
    padding: 30px 10px;
    position: absolute;
    top: 20%;
    left: 0;
    background-color: rgba(0, 0, 0, 0.603);
    border-radius: 10px;
}
.text-card-pcs > p {color: white; text-align: center; width: 80%;}

.bnt-escolha-mesa {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 40px;
    border-radius: 10px;

    background-color: black;
}

.bnt-escolha-mesa > p {color: white;}

/* carrinho */

#aluguel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#container-aluguel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    padding: 10px 0px;
    gap: 10px;
}

#selecionar-mesa {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#titulo-e-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.titulo >h4 {color: white; text-align: center;}

#conteudo-selecionar-mesa {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px 10px;
}

#container-valor-aluguel {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid white;
}

#valor-aluguel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    gap: 50px;
}
#valor-aluguel > h4, p {margin: 0; padding: 0; color: white;}

#pagar-cancelar-compra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#bnt-finalizar-compra, #bnt-cancelar-compra {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    width: 100%;
}

#forma-pagamento {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#container-forma-pagamento {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#escolha-forma-pagamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.escolher-forma {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 10px;
    border: 1px solid white;
}

.titulo-escolher-forma {
    display: flex; 
    align-items: center; 
    justify-content: left;
    gap: 25px; 
    width: 100%;
}

.titulo-escolher-forma > h4, i {color: white; margin: 0;}


